<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>SampleJSPtest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <error-page>
  	<exception-type>java.lang.NumberFormatException</exception-type>
  	<location>/error/NumFormatError.jsp</location>
  </error-page>
  
  <error-page>
  	<exception-type>java.lang.ArithmeticException</exception-type>
  	<location>/error/ArithmeticError.jsp</location>
  </error-page>
  
	<!-- 페이징 설정값 -->
	<context-param>
		<param-name>POSTS_PER_PAGE</param-name> <!-- 출력할 게시물 개수 -->
		<param-value>5</param-value>
	</context-param>
	<context-param>
		<param-name>PAGES_PER_BLOCK</param-name> <!-- 출력할 페이지번호 개수 -->
		<param-value>3</param-value>
	</context-param>
</web-app>

<!-- 
web.xml 파일은 웹 애플리케이션의 설정 및 동작을 선언하고 구성합니다. 
예를 들어 서블릿, 필터, 리스너 등의 구성 요소, 
URL 패턴에 따른 매핑, 세션 관리, 보안 설정 등을 정의할 수 있습니다. 
-->
